<div class="h-screen relative w-screen flex justify-center items-center bg-fill overflow-hidden">
  <!-- pattern top -->
  <img class="absolute top-0 left-0 z-0 -translate-x-1/4 -translate-y-1/3" src="/assets/images/bg-pattern-top.svg"
    alt="Pattern top">
  <!-- end pattern top -->

  <div class="container grid place-content-center">

    <div class="z-50 w-full overflow-hidden shadow-lg rounded-xl">
      <!-- pattern -->
      <div>
        <img src="/assets/images/bg-pattern-card.svg" alt="Bg pattern card">
      </div>
      <!-- end pattern -->


      <!-- content -->
      <div class="relative w-full bg-white">
        <!-- avatar -->
        <img class="absolute w-24 h-24 -translate-x-1/2 -translate-y-1/2 border-4 border-white rounded-full left-1/2"
          src="/assets/images/image-victor.jpg" alt="Avatar">
        <!-- end avatar -->

        <div class="pt-20 pb-8 text-center border-b border-gray-200">
          <h3 class="text-xl "><strong class="text-black">Vector Crest</strong> <span
              class="ml-4 text-gray-400">26</span>
          </h3>
          <p class="text-muted">London</p>
        </div>

        <div class="flex justify-around py-6">
          <!-- follower -->
          <div>
            <h3 class="text-2xl font-black text-center">80K</h3>
            <p class="text-sm tracking-widest text-center text-muted">Followers</p>
          </div>
          <!-- end follower -->

          <!-- likes -->
          <div class="grid place-items-cente">
            <h3 class="text-2xl font-black text-center">803K</h3>
            <p class="text-sm tracking-widest text-center text-muted">Likes</p>
          </div>
          <!-- end likes -->

          <!-- photos -->
          <div class="grid place-items-cente">
            <h3 class="text-2xl font-black text-center">1.4K</h3>
            <p class="text-sm tracking-widest text-center text-muted">Photos</p>
          </div>
          <!-- end photos -->
        </div>

      </div>
      <!-- end content -->
    </div>

  </div>

  <!-- pattern bottom -->
  <img class="absolute bottom-0 right-0 z-0 translate-x-1/4 translate-y-1/2" src="/assets/images/bg-pattern-top.svg"
    alt="Pattern top">
  <!-- end pattern top -->
</div>
